body {
	background:#4c4c4c;
	padding-top:15px;
}
#container {
	width:698px;
	margin-left:auto;
	margin-right:auto;
}
#header {
	background-image:url(images/rainbow.jpg);
	background-size: 100% Auto;
	width:698px;
	height:250px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
#title {
	font-family:"raleway", sans-serif;
	font-size:72px;
	color:#FFF;
	text-align:center;
}
#tagline {
	font-family:"raleway", sans-serif;
	color:#FFF;
	font-size:25px;
	padding-left:550px;
}
.titlebar {
	padding-top:80px;
}
#nav {
	background-color:#cecece;
	height:30px;
	padding-top:9px;
}
#navlink {
	text-decoration:none;
	font-family:Helvetica, Arial, Sans-serif;
	font-size:20px;
	height:20px;
	padding-right:10px;
	padding-top:9px;
	padding-bottom:10px;
	padding-left:10px;
	color:#282828;
}
.activetab {
	background-color:#FFF;
}
#content {
	background:#FFF;
	font-family:Georgia, serif;
	font-size:13px;
	padding-bottom:30px;
	padding-top:15px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
p {
	padding-left:15px;
	padding-right:15px;
}
#webchat {
	margin-right:auto;
	margin-right:auto;
	width:694px;
	height:400px;
}
h1 {
	text-align:center;
	font-family:"raleway", sans-serif;
	font-size:30px;
}
#copyright {
	color:#FFF;
	font-size:9px;
	font-family: Helvetica, Arial, sans-serif;
	padding:0;
	padding-top:5px;
	margin:0;
	text-align:right;
}
#comingsoon {
	font-family:"raleway", sans-serif;
	font-size:80px;
	color:#383838;
	padding:0;
	margin:0;
	text-align:center;
	padding-top:20px;
}
#comingsooncaption {
	text-align:center;
}
#webchatwarning {
	text-align:center;
	padding:0;
	padding-bottom:12px;
	margin:0;
}
/* responsive CSS */
@media only screen and (max-device-width : 480px) {
body {
	width:100%;
	padding-top:0;
	margin-left:auto;
	margin-right:auto;
}
#container {
	width:100%;
}
#header {
	width:100%;
	height:200px;
}
#nav {
	height:50px;
}
#navlink {
	font-size:45px !important;
}
#title {
	padding-left:10px;
	font-size:80px;
}
#tagline {
	font-size:30px;
}
#content {
	font-size:16px;
}
}